@media (max-width: 800px) {
    .film_add>form>div:first-child {
        flex-direction: column;
    }
    .film_add>form textarea {
        width: 100%;
    }
    .film_add {
        width: 90vw;
    }
}

@media (max-width: 620px) {
    div.proposition {
        flex-direction: column;
    }
}